# Config File
/index.php
application/config/database.php
application/config/config.php
# Log File
application/logs/*.log
application/logs/*.json
# User 
images/users/*.*
!images/users/no-photo.png
# Logo
images/logos/*.*
!images/logos/logo.png
# System File
.DS_Store
# DB
db/*
!db/index.html
# Temporary
tmp/*
!tmp/index.html
